<%= form_with(model: user, local: true, class: "ui form  segment", id: "signup-form") do |form| %>

  <div class="field <%= user.errors.include?(:name) ? 'error' : '' %>">
    <%= form.label :name %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= form.text_field :name, placeholder: "ユーザー名" %>
    </div>
    <%= render 'shared/error_messages', obj: user, key: :name %>
  </div>

  <div class="field <%= user.errors.include?(:email) ? 'error' : '' %>">
    <%= form.label :email %>
    <div class="ui left icon input">
      <i class="envelope icon"></i>
      <%= form.email_field :email, placeholder: "メールアドレス" %>
    </div>
    <%= render 'shared/error_messages', obj: user, key: :email %>
  </div>

  <div class="field <%= user.errors.include?(:password) ? 'error' : '' %>">
    <%= form.label "パスワード(6文字以上で入力してください)" %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :password, placeholder: "パスワード" %>
    </div>
    <%= render 'shared/error_messages', obj: user, key: :password %>
  </div>

  <div class="field <%= user.errors.include?(:password_confirmation) ? 'error' : '' %>">
    <%= form.label :password_confirmation %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :password_confirmation, placeholder: "パスワード(確認用)" %>
    </div>
    <%= render 'shared/error_messages', obj: user, key: :password_confirmation %>
  </div>

  <div>
    <%= form.submit class: "ui teal submit button" %>
    <%= link_to "キャンセル", !user.new_record? ? user_path : root_path,  class: "ui button" %>
  </div>

  <%# if user.errors.any? %>
<!--    <div class="ui error message"> -->
      <%# user.errors.each do |error| %>
<!--        <li><%#= error.full_message %></li> -->
      <%# end %>
<!--     </div>  -->
  <%# end %>
<% end %>

<!-- Googleログインボタンの表示 ここから追加しかしログイン後エラーのため後で --
<div>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

<div id="g_id_onload"
  data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
  data-login_uri="https://mobilelegends-capture-site.herokuapp.com/"  

  data-auto_prompt="false">
</div>
<div class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left">
</div>
</div>
<ここまで追加 -->


<div class="ui message">
  <%= link_to "ゲストユーザーとして利用する（guest user）", guest_login_path %>
</div>