<%= form_with(model: @post, local: true) do |f| %>
  
<main>
  
<p class="ppp">おすすめ（PICK）</p>

  <div class="select1">
  
<div>
  <input class="form-check-input" type="radio" name="maker1" value="1" id="tank_1" onclick="formSwitch()" />
  <label for="tank_1">タンク</label>  
  <input class="form-check-input" type="radio" name="maker1" value="2" id="fight_1" onclick="formSwitch()" />
  <label for="fight_1">ファイター</label>
  <input class="form-check-input" type="radio" name="maker1" value="3" id="mage_1" onclick="formSwitch()" />
  <label for="mage_1">メイジ</label>
</div>
<div>
  <input class="form-check-input" type="radio" name="maker1" value="4" id="asasin_1" onclick="formSwitch()" />
  <label for="asasin_1">アサシン</label>
  <input class="form-check-input" type="radio" name="maker1" value="5" id="hanter_1" onclick="formSwitch()" />
  <label for="hanter_1">ハンター</label>
  <input class="form-check-input" type="radio" name="maker1" value="6" id="support_1" onclick="formSwitch()" />
  <label for="support_1">サポート</label>
 
</div>

</div>

<td colspan="6">
  <div id="tankList">
    <div class="list">
    <%= f.label :image_url1%><br>
<!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
<%posts = [
    "/images/Tank/Hero041-icon.webp",
    "/images/Tank/Hero061-icon.webp",
    "/images/Tank/Hero091-icon.webp",
    "/images/Tank/Hero101-icon.webp",
    "/images/Tank/Hero191-icon.webp",
    "/images/Tank/Hero201-icon.webp",
    "/images/Tank/Hero291-icon.webp",
    "/images/Tank/Hero321-icon.webp",
    "/images/Tank/Hero351-icon.webp",
    "/images/Tank/Hero411-icon.webp",
    "/images/Tank/Hero4441-icon.webp",
    "/images/Tank/Hero491-icon.webp"
  ];
%>

     <% posts.each do |post| %>
     <label>
       <label class="tank">
         <%= f.radio_button(:image_url1, post , {style: "display:none;"}) %>
         <%= image_tag post, size: "50x50" %>
       </label>
       <br>
      </label>
     <% end %>
</div>
      <div class="list"><br>
      <%= f.label :image_url1%>
  <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
  <%posts = [ "/images/Tank/Hero591-icon.webp",
  "/images/Tank/Hero701-icon.webp",
  "/images/Tank/Hero781-icon.webp",
  "/images/Tank/Hero811-icon.webp",
  "/images/Tank/Hero871-icon.webp",
  "/images/Tank/Hero881-icon.webp",
  "/images/Tank/Hero931-icon.webp",
  "/images/Tank/Hero991-icon.webp",
  "/images/Tank/Hero1041-icon.webp",
  "/images/Tank/Hero1111-icon.webp",
  "/images/Tank/Hero1171-icon.webp"
      
    ];
  %>
   
  
        <% posts.each do |post| %>
      <label>
        <label class="tank">
        <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
        <%= image_tag post, size: "50x50" %>
        </label>
 
      <br>
    </label>
      <% end %>
  </div>
</div>


    <div id="fightList">
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts = ["/images/fighter/Hero021-icon-2.webp", 
        "/images/fighter/Hero071-icon.webp",
         "/images/fighter/Hero111-icon.webp", 
         "/images/fighter/Hero161-icon.webp", 
         "/images/fighter/Hero221-icon.webp", 
         "/images/fighter/Hero261-icon.webp", 
         "/images/fighter/Hero271-icon.webp", 
         "/images/fighter/Hero281-icon.webp", 
         "/images/fighter/Hero291-icon.webp", 
         "/images/fighter/Hero351-icon.webp", 
         "/images/fighter/Hero371-icon.webp", 
         "/images/fighter/Hero391-icon.webp", 
         "/images/fighter/Hero411-icon.webp", 
         "/images/fighter/Hero451-icon.webp", 
         "/images/fighter/Hero541-icon.webp", 
         "/images/fighter/Hero581-icon.webp", 
         "/images/fighter/Hero621-icon.webp",
          "/images/fighter/Hero641-icon.webp", 
          "/images/fighter/Hero671-icon.webp",] %>
        <% posts.each do |post| %>
        <label>
            <label class="fight">
              <%= f.radio_button(:image_url1, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
       
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts = [
           "/images/fighter/Hero721-icon.webp",
            "/images/fighter/Hero741-icon.webp",
          "/images/fighter/Hero771-icon.webp",
         "/images/fighter/Hero801-icon.webp", 
         "/images/fighter/Hero821-icon.webp", 
         "/images/fighter/Hero831-icon.webp", 
         "/images/fighter/Hero851-icon.webp", 
         "/images/fighter/Hero881-icon.webp", 
         "/images/fighter/Hero901-icon.webp", 
         "/images/fighter/Hero951-icon.webp", 
         "/images/fighter/Hero981-icon.webp", 
         "/images/fighter/Hero991-icon.webp", 
         "/images/fighter/Hero1031-icon.webp", 
         "/images/fighter/Hero1061-icon.webp", 
         "/images/fighter/Hero1081-icon.webp", 
         "/images/fighter/Hero1131-icon.webp", 
         "/images/fighter/Hero1161-icon.webp", 
         "/images/fighter/Hero1171-icon.webp",
         "/images/fighter/Hero1201-icon.webp",
          ] %>
        <% posts.each do |post| %>

          <label>
            <label class="fight">
              <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    





    <div id="mageList">
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts =["/images/mage/Hero041-icon.webp",
        "/images/mage/Hero051-icon-1.webp",
        "/images/mage/Hero111-icon.webp",
        "/images/mage/Hero151-icon.webp",
        "/images/mage/Hero231-icon.webp",
        "/images/mage/Hero251-icon.webp",
        "/images/mage/Hero331-icon.webp",
        "/images/mage/Hero361-icon.webp",
        "/images/mage/Hero381-icon.webp",
        "/images/mage/Hero421-icon.webp",
        "/images/mage/Hero461-icon.webp",
        "/images/mage/Hero501-icon.webp",
        "/images/mage/Hero521-icon.webp",
        "/images/mage/Hero571-icon.webp",
        "/images/mage/Hero611-icon.webp",
        "/images/mage/Hero631-icon.webp"] %>
          
        <% posts.each do |post| %>
        <label >
            <label class="mage">
              <%= f.radio_button(:image_url1, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts = ["/images/mage/Hero661-icon.webp",
        "/images/mage/Hero681-icon.webp",
        "/images/mage/Hero711-icon.webp",
        "/images/mage/Hero731-icon.webp",
        "/images/mage/Hero751-icon.webp",
        "/images/mage/Hero761-icon.webp",
        "/images/mage/Hero811-icon.webp",
        "/images/mage/Hero861-icon.webp",
        "/images/mage/Hero911-icon.webp",
        "/images/mage/Hero961-icon.webp",
        "/images/mage/Hero1101-icon.webp",
        "/images/mage/Hero1011-icon.webp",
        "/images/mage/Hero1151-icon.webp",
        "/images/mage/Hero1161-icon.webp",
        "/images/mage/Hero1191-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="mage">
              <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="asasinList">
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
          
        <% posts.each do |post| %>
      <label>
            <label class="asasin">
              <%= f.radio_button(:image_url1, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="asasin">
              <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="hanterList">
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
          
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
           <%= f.radio_button(:image_url1, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
              <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    


    <div id="supportList">
      <div class="list">
        <%= f.label :image_url1 %><br>
        <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
          
        <% posts.each do |post| %>
      <label>
            <label class="support">
              <%= f.radio_button(:image_url1, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url1%><br>
        <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="support">
              <%= f.radio_button(:image_url1, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
</div>

<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>

<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
  <p class="pp">有利なキャラ1 (advantageous,1)</p>
  <td>
    <div class="select1">
      <div>
    <input class="form-check-input" type="radio" name="maker2" value="1" id="tank_2" onclick="formSwitch2()" />
    <label for="tank_2">タンク</label>
    <input class="form-check-input" type="radio" name="maker2" value="2" id="fight_2" onclick="formSwitch2()" />
    <label for="fight_2">ファイター</label>
    <input class="form-check-input" type="radio" name="maker2" value="3" id="mage_2" onclick="formSwitch2()" />
    <label for="mage_2">メイジ</label></div>
    <div>
    <input class="form-check-input" type="radio" name="maker2" value="4" id="asasin_2" onclick="formSwitch2()" />
    <label for="asasin_2">アサシン</label>
    <input class="form-check-input" type="radio" name="maker2" value="5" id="hanter_2" onclick="formSwitch2()" />
    <label for="hanter_2">ハンター</label>
    <input class="form-check-input" type="radio" name="maker2" value="6" id="support_2" onclick="formSwitch2()" />
    <label for="support_2">サポート</label></div>
  </div>
  </td>
  
  <td colspan="6">
    <div id="tankList2">
      <div class="list">
      <%= f.label :image_url2%><br>
  <%posts = [
      "/images/Tank/Hero041-icon.webp",
      "/images/Tank/Hero061-icon.webp",
      "/images/Tank/Hero091-icon.webp",
      "/images/Tank/Hero101-icon.webp",
      "/images/Tank/Hero191-icon.webp",
      "/images/Tank/Hero201-icon.webp",
      "/images/Tank/Hero291-icon.webp",
      "/images/Tank/Hero321-icon.webp",
      "/images/Tank/Hero351-icon.webp",
      "/images/Tank/Hero411-icon.webp",
      "/images/Tank/Hero4441-icon.webp",
      "/images/Tank/Hero491-icon.webp"
    ];
  %>
  
       <% posts.each do |post| %>
  <label>
         <label class="tank">
           <%= f.radio_button(:image_url2, post , {style: "display:none;"}) %>
           <%= image_tag post, size: "50x50" %>
         </label>
         <br>
        </label>
       <% end %>
      </div>
      <div class="list">
        <%= f.label :image_url2%><br>
    <%posts = [ "/images/Tank/Hero591-icon.webp",
    "/images/Tank/Hero701-icon.webp",
    "/images/Tank/Hero781-icon.webp",
    "/images/Tank/Hero811-icon.webp",
    "/images/Tank/Hero871-icon.webp",
    "/images/Tank/Hero881-icon.webp",
    "/images/Tank/Hero931-icon.webp",
    "/images/Tank/Hero991-icon.webp",
    "/images/Tank/Hero1041-icon.webp",
    "/images/Tank/Hero1111-icon.webp",
    "/images/Tank/Hero1171-icon.webp"
        
      ];
    %>
     
    
          <% posts.each do |post| %>
          <label>
          <label class="tank">
          <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
          <%= image_tag post, size: "50x50" %>
        </label>
        <br>
      </label>
        <% end %>
        </div>
    </div>
  
  
      <div id="fightList2">
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = ["/images/fighter/Hero021-icon-2.webp", 
          "/images/fighter/Hero071-icon.webp",
           "/images/fighter/Hero111-icon.webp", 
           "/images/fighter/Hero161-icon.webp", 
           "/images/fighter/Hero221-icon.webp", 
           "/images/fighter/Hero261-icon.webp", 
           "/images/fighter/Hero271-icon.webp", 
           "/images/fighter/Hero281-icon.webp", 
           "/images/fighter/Hero291-icon.webp", 
           "/images/fighter/Hero351-icon.webp", 
           "/images/fighter/Hero371-icon.webp", 
           "/images/fighter/Hero391-icon.webp", 
           "/images/fighter/Hero411-icon.webp", 
           "/images/fighter/Hero451-icon.webp", 
           "/images/fighter/Hero541-icon.webp", 
           "/images/fighter/Hero581-icon.webp", 
           "/images/fighter/Hero621-icon.webp",
            "/images/fighter/Hero641-icon.webp", 
            "/images/fighter/Hero671-icon.webp",] %>
          <% posts.each do |post| %>
            <label>
              <label class="fight">
                <%= f.radio_button(:image_url2, post, {style: "display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = [
           "/images/fighter/Hero721-icon.webp",
            "/images/fighter/Hero741-icon.webp",
          "/images/fighter/Hero771-icon.webp",
         "/images/fighter/Hero801-icon.webp", 
         "/images/fighter/Hero821-icon.webp", 
         "/images/fighter/Hero831-icon.webp", 
         "/images/fighter/Hero851-icon.webp", 

         "/images/fighter/Hero881-icon.webp", 
         "/images/fighter/Hero901-icon.webp", 
         "/images/fighter/Hero951-icon.webp", 
         "/images/fighter/Hero981-icon.webp", 
         "/images/fighter/Hero991-icon.webp", 
         "/images/fighter/Hero1031-icon.webp", 
         "/images/fighter/Hero1061-icon.webp", 
         "/images/fighter/Hero1081-icon.webp", 
         "/images/fighter/Hero1131-icon.webp", 
         "/images/fighter/Hero1161-icon.webp", 
         "/images/fighter/Hero1171-icon.webp",
         "/images/fighter/Hero1201-icon.webp",
          ] %>
          <% posts.each do |post| %>
            <label>
              <label class="fight">
                <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      </div>
      
  
  
  
  
  
      <div id="mageList2">
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts =["/images/mage/Hero041-icon.webp",
          "/images/mage/Hero051-icon-1.webp",
          "/images/mage/Hero111-icon.webp",
          "/images/mage/Hero151-icon.webp",
          "/images/mage/Hero231-icon.webp",
          "/images/mage/Hero251-icon.webp",
          "/images/mage/Hero331-icon.webp",
          "/images/mage/Hero361-icon.webp",
          "/images/mage/Hero381-icon.webp",
          "/images/mage/Hero421-icon.webp",
          "/images/mage/Hero461-icon.webp",
          "/images/mage/Hero501-icon.webp",
          "/images/mage/Hero521-icon.webp",
          "/images/mage/Hero571-icon.webp",
          "/images/mage/Hero611-icon.webp",
          "/images/mage/Hero631-icon.webp"] %>
            
            
          <% posts.each do |post| %>
          <label>
              <label class="mage">
                <%= f.radio_button(:image_url2, post, {style: "display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = ["/images/mage/Hero661-icon.webp",
          "/images/mage/Hero681-icon.webp",
          "/images/mage/Hero711-icon.webp",
          "/images/mage/Hero731-icon.webp",
          "/images/mage/Hero751-icon.webp",
          "/images/mage/Hero761-icon.webp",
          "/images/mage/Hero811-icon.webp",
          "/images/mage/Hero861-icon.webp",
          "/images/mage/Hero911-icon.webp",
          "/images/mage/Hero961-icon.webp",
          "/images/mage/Hero1101-icon.webp",
          "/images/mage/Hero1011-icon.webp",
          "/images/mage/Hero1151-icon.webp",
          "/images/mage/Hero1161-icon.webp",
          "/images/mage/Hero1191-icon.webp"] %>
          <% posts.each do |post| %>
            <label>
              <label class="mage">
                <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      </div>
      
  
      <div id="asasinList2">
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
            
          <% posts.each do |post| %>
          <label>
              <label class="asasin">
                <%= f.radio_button(:image_url2, post, {style: "display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
          <% posts.each do |post| %>
            <label>
              <label class="asasin">
                <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      </div>
      
  
      <div id="hanterList2">
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
            
          <% posts.each do |post| %>
          <label>
          <label class="hanter">
             <%= f.radio_button(:image_url2, post, {style: "display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      
  
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
          <% posts.each do |post| %>
            <label class="hanter">
              <label class="mage">
                <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      </div>
      
  
  
      <div id="supportList2">
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
            
          <% posts.each do |post| %>
          <label>
              <label class="support">
                <%= f.radio_button(:image_url2, post, {style: "display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      
  
        <div class="list">
          <%= f.label :image_url2 %><br>
          <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero743-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
          <% posts.each do |post| %>
            <label>
              <label class="support">
                <%= f.radio_button(:image_url2, post, {style:"display:none;"}) %>
                <%= image_tag post, size: "50x50" %>
              </label>
              <br>
            </label>
          <% end %>
        </div>
      </div>
      

<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<p class="pp">有利なキャラ2 任意(optional,advantageous,2)</p>
<td>
  <div class="select1">
    <div>
  <input class="form-check-input" type="radio" name="maker22" value="1" id="tank_22" onclick="formSwitch22()" />
  <label for="tank_22">タンク</label>
  <input class="form-check-input" type="radio" name="maker22" value="2" id="fight_22" onclick="formSwitch22()" />
  <label for="fight_22">ファイター</label>
  <input class="form-check-input" type="radio" name="maker22" value="3" id="mage_22" onclick="formSwitch22()" />
  <label for="mage_22">メイジ</label></div>
  <div>
  <input class="form-check-input" type="radio" name="maker22" value="4" id="asasin_22" onclick="formSwitch22()" />
  <label for="asasin_22">アサシン</label>
  <input class="form-check-input" type="radio" name="maker22" value="5" id="hanter_22" onclick="formSwitch22()" />
  <label for="hanter_22">ハンター</label>
  <input class="form-check-input" type="radio" name="maker22" value="6" id="support_22" onclick="formSwitch22()" />
  <label for="support_22">サポート</label></div>
</div>
</td>

<td colspan="6">
  <div id="tankList22">
    <div class="list">
    <%= f.label :image_url22%><br>
<!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
<%posts = [
    "/images/Tank/Hero041-icon.webp",
    "/images/Tank/Hero061-icon.webp",
    "/images/Tank/Hero091-icon.webp",
    "/images/Tank/Hero101-icon.webp",
    "/images/Tank/Hero191-icon.webp",
    "/images/Tank/Hero201-icon.webp",
    "/images/Tank/Hero291-icon.webp",
    "/images/Tank/Hero321-icon.webp",
    "/images/Tank/Hero351-icon.webp",
    "/images/Tank/Hero411-icon.webp",
    "/images/Tank/Hero4441-icon.webp",
    "/images/Tank/Hero491-icon.webp"
  ];
%>

     <% posts.each do |post| %>
     <label>
       <label class="tank">
         <%= f.radio_button(:image_url22, post , {style: "display:none;"}) %>
         <%= image_tag post, size: "50x50" %>
       </label>
       <br>
      </label>
     <% end %>
</div>
      <div class="list"><br>
      <%= f.label :image_url22%>
  <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
  <%posts = [ "/images/Tank/Hero591-icon.webp",
  "/images/Tank/Hero701-icon.webp",
  "/images/Tank/Hero781-icon.webp",
  "/images/Tank/Hero811-icon.webp",
  "/images/Tank/Hero871-icon.webp",
  "/images/Tank/Hero881-icon.webp",
  "/images/Tank/Hero931-icon.webp",
  "/images/Tank/Hero991-icon.webp",
  "/images/Tank/Hero1041-icon.webp",
  "/images/Tank/Hero1111-icon.webp",
  "/images/Tank/Hero1171-icon.webp"
      
    ];
  %>
   
  
        <% posts.each do |post| %>
      <label>
        <label class="tank">
        <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
        <%= image_tag post, size: "50x50" %>
        </label>
 
      <br>
    </label>
      <% end %>
  </div>
</div>


    <div id="fightList22">
      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts = ["/images/fighter/Hero021-icon-2.webp", 
        "/images/fighter/Hero071-icon.webp",
         "/images/fighter/Hero111-icon.webp", 
         "/images/fighter/Hero161-icon.webp", 
         "/images/fighter/Hero221-icon.webp", 
         "/images/fighter/Hero261-icon.webp", 
         "/images/fighter/Hero271-icon.webp", 
         "/images/fighter/Hero281-icon.webp", 
         "/images/fighter/Hero291-icon.webp", 
         "/images/fighter/Hero351-icon.webp", 
         "/images/fighter/Hero371-icon.webp", 
         "/images/fighter/Hero391-icon.webp", 
         "/images/fighter/Hero411-icon.webp", 
         "/images/fighter/Hero451-icon.webp", 
         "/images/fighter/Hero541-icon.webp", 
         "/images/fighter/Hero581-icon.webp", 
         "/images/fighter/Hero621-icon.webp",
          "/images/fighter/Hero641-icon.webp", 
          "/images/fighter/Hero671-icon.webp",] %>
        <% posts.each do |post| %>
        <label>
            <label class="fight">
              <%= f.radio_button(:image_url22, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
       
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts = [
           "/images/fighter/Hero721-icon.webp",
            "/images/fighter/Hero741-icon.webp",
          "/images/fighter/Hero771-icon.webp",
         "/images/fighter/Hero801-icon.webp", 
         "/images/fighter/Hero821-icon.webp", 
         "/images/fighter/Hero831-icon.webp", 
         "/images/fighter/Hero851-icon.webp", 

         "/images/fighter/Hero881-icon.webp", 
         "/images/fighter/Hero901-icon.webp", 
         "/images/fighter/Hero951-icon.webp", 
         "/images/fighter/Hero981-icon.webp", 
         "/images/fighter/Hero991-icon.webp", 
         "/images/fighter/Hero1031-icon.webp", 
         "/images/fighter/Hero1061-icon.webp", 
         "/images/fighter/Hero1081-icon.webp", 
         "/images/fighter/Hero1131-icon.webp", 
         "/images/fighter/Hero1161-icon.webp", 
         "/images/fighter/Hero1171-icon.webp",
         "/images/fighter/Hero1201-icon.webp",
          ] %>
        <% posts.each do |post| %>

          <label>
            <label class="fight">
              <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    





    <div id="mageList22">
      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts =["/images/mage/Hero041-icon.webp",
        "/images/mage/Hero051-icon-1.webp",
        "/images/mage/Hero111-icon.webp",
        "/images/mage/Hero151-icon.webp",
        "/images/mage/Hero231-icon.webp",
        "/images/mage/Hero251-icon.webp",
        "/images/mage/Hero331-icon.webp",
        "/images/mage/Hero361-icon.webp",
        "/images/mage/Hero381-icon.webp",
        "/images/mage/Hero421-icon.webp",
        "/images/mage/Hero461-icon.webp",
        "/images/mage/Hero501-icon.webp",
        "/images/mage/Hero521-icon.webp",
        "/images/mage/Hero571-icon.webp",
        "/images/mage/Hero611-icon.webp",
        "/images/mage/Hero631-icon.webp"] %>
          
          
        <% posts.each do |post| %>
        <label >
            <label class="mage">
              <%= f.radio_button(:image_url22, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url22%><br>
        <% posts = ["/images/mage/Hero661-icon.webp",
        "/images/mage/Hero681-icon.webp",
        "/images/mage/Hero711-icon.webp",
        "/images/mage/Hero731-icon.webp",
        "/images/mage/Hero751-icon.webp",
        "/images/mage/Hero761-icon.webp",
        "/images/mage/Hero811-icon.webp",
        "/images/mage/Hero861-icon.webp",
        "/images/mage/Hero911-icon.webp",
        "/images/mage/Hero961-icon.webp",
        "/images/mage/Hero1101-icon.webp",
        "/images/mage/Hero1011-icon.webp",
        "/images/mage/Hero1151-icon.webp",
        "/images/mage/Hero1161-icon.webp",
        "/images/mage/Hero1191-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="mage">
              <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="asasinList22">
      <div class="list">
        <%= f.label :image_url22%><br>
        <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
          
        <% posts.each do |post| %>
      <label>
            <label class="asasin">
              <%= f.radio_button(:image_url22, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="asasin">
              <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="hanterList22">
      <div class="list">
        <%= f.label :image_url22%><br>
        <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
          
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
           <%= f.radio_button(:image_url22, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
              <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    


    <div id="supportList22">
      <div class="list">
        <%= f.label :image_url22 %><br>
        <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
          
        <% posts.each do |post| %>
      <label>
            <label class="support">
              <%= f.radio_button(:image_url22, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url22%><br>
        <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="support">
              <%= f.radio_button(:image_url22, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
</div>

<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<p class="pp">有利なキャラ３ 任意(optional,advantageous,3)</p>
<td>
  <div class="select1">
    <div >
  <input class="form-check-input" type="radio" name="maker23" value="1" id="tank_23" onclick="formSwitch23()" />
  <label for="tank_23">タンク</label>
  <input class="form-check-input" type="radio" name="maker23" value="2" id="fight_23" onclick="formSwitch23()" />
  <label for="fight_23">ファイター</label>
  <input class="form-check-input" type="radio" name="maker23" value="3" id="mage_23" onclick="formSwitch23()" />
  <label for="mage_23">メイジ</label></div>
  <div>
  <input class="form-check-input" type="radio" name="maker23" value="4" id="asasin_23" onclick="formSwitch23()" />
  <label for="asasin_23">アサシン</label>
  <input class="form-check-input" type="radio" name="maker23" value="5" id="hanter_23" onclick="formSwitch23()" />
  <label for="hanter_23">ハンター</label>
  <input class="form-check-input" type="radio" name="maker23" value="6" id="support_23" onclick="formSwitch23()" />
  <label for="support_23">サポート</label></div>
</div>
</td>
<td colspan="6">
  <div id="tankList23">
    <div class="list">
    <%= f.label :image_url23%><br>
<!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
<%posts = [
    "/images/Tank/Hero041-icon.webp",
    "/images/Tank/Hero061-icon.webp",
    "/images/Tank/Hero091-icon.webp",
    "/images/Tank/Hero101-icon.webp",
    "/images/Tank/Hero191-icon.webp",
    "/images/Tank/Hero201-icon.webp",
    "/images/Tank/Hero291-icon.webp",
    "/images/Tank/Hero321-icon.webp",
    "/images/Tank/Hero351-icon.webp",
    "/images/Tank/Hero411-icon.webp",
    "/images/Tank/Hero4441-icon.webp",
    "/images/Tank/Hero491-icon.webp"
  ];
%>
     <% posts.each do |post| %>
     <label>
       <label class="tank">
         <%= f.radio_button(:image_url23, post , {style: "display:none;"}) %>
         <%= image_tag post, size: "50x50" %>
       </label>
       <br>
      </label>
     <% end %>
</div>
      <div class="list"><br>
      <%= f.label :image_url23%>
  <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
  <%posts = [ "/images/Tank/Hero591-icon.webp",
  "/images/Tank/Hero701-icon.webp",
  "/images/Tank/Hero781-icon.webp",
  "/images/Tank/Hero811-icon.webp",
  "/images/Tank/Hero871-icon.webp",
  "/images/Tank/Hero881-icon.webp",
  "/images/Tank/Hero931-icon.webp",
  "/images/Tank/Hero991-icon.webp",
  "/images/Tank/Hero1041-icon.webp",
  "/images/Tank/Hero1111-icon.webp",
  "/images/Tank/Hero1171-icon.webp"
      
    ];
  %>
   
  
        <% posts.each do |post| %>
      <label>
        <label class="tank">
        <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
        <%= image_tag post, size: "50x50" %>
        </label>
 
      <br>
    </label>
      <% end %>
  </div>
</div>


    <div id="fightList23">
      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts = ["/images/fighter/Hero021-icon-2.webp", 
        "/images/fighter/Hero071-icon.webp",
         "/images/fighter/Hero111-icon.webp", 
         "/images/fighter/Hero161-icon.webp", 
         "/images/fighter/Hero221-icon.webp", 
         "/images/fighter/Hero261-icon.webp", 
         "/images/fighter/Hero271-icon.webp", 
         "/images/fighter/Hero281-icon.webp", 
         "/images/fighter/Hero291-icon.webp", 
         "/images/fighter/Hero351-icon.webp", 
         "/images/fighter/Hero371-icon.webp", 
         "/images/fighter/Hero391-icon.webp", 
         "/images/fighter/Hero411-icon.webp", 
         "/images/fighter/Hero451-icon.webp", 
         "/images/fighter/Hero541-icon.webp", 
         "/images/fighter/Hero581-icon.webp", 
         "/images/fighter/Hero621-icon.webp",
          "/images/fighter/Hero641-icon.webp", 
          "/images/fighter/Hero671-icon.webp",] %>
        <% posts.each do |post| %>
        <label>
            <label class="fight">
              <%= f.radio_button(:image_url23, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
       
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts = [
           "/images/fighter/Hero721-icon.webp",
            "/images/fighter/Hero741-icon.webp",
          "/images/fighter/Hero771-icon.webp",
         "/images/fighter/Hero801-icon.webp", 
         "/images/fighter/Hero821-icon.webp", 
         "/images/fighter/Hero831-icon.webp", 
         "/images/fighter/Hero851-icon.webp", 

         "/images/fighter/Hero881-icon.webp", 
         "/images/fighter/Hero901-icon.webp", 
         "/images/fighter/Hero951-icon.webp", 
         "/images/fighter/Hero981-icon.webp", 
         "/images/fighter/Hero991-icon.webp", 
         "/images/fighter/Hero1031-icon.webp", 
         "/images/fighter/Hero1061-icon.webp", 
         "/images/fighter/Hero1081-icon.webp", 
         "/images/fighter/Hero1131-icon.webp", 
         "/images/fighter/Hero1161-icon.webp", 
         "/images/fighter/Hero1171-icon.webp",
         "/images/fighter/Hero1201-icon.webp",
          ] %>
        <% posts.each do |post| %>

          <label>
            <label class="fight">
              <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    





    <div id="mageList23">
      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts =["/images/mage/Hero041-icon.webp",
        "/images/mage/Hero051-icon-1.webp",
        "/images/mage/Hero111-icon.webp",
        "/images/mage/Hero151-icon.webp",
        "/images/mage/Hero231-icon.webp",
        "/images/mage/Hero251-icon.webp",
        "/images/mage/Hero331-icon.webp",
        "/images/mage/Hero361-icon.webp",
        "/images/mage/Hero381-icon.webp",
        "/images/mage/Hero421-icon.webp",
        "/images/mage/Hero461-icon.webp",
        "/images/mage/Hero501-icon.webp",
        "/images/mage/Hero521-icon.webp",
        "/images/mage/Hero571-icon.webp",
        "/images/mage/Hero611-icon.webp",
        "/images/mage/Hero631-icon.webp"] %>
          
        <% posts.each do |post| %>
        <label >
            <label class="mage">
              <%= f.radio_button(:image_url23, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
      <div class="list">
        <%= f.label :image_url23%><br>
        <% posts = ["/images/mage/Hero661-icon.webp",
        "/images/mage/Hero681-icon.webp",
        "/images/mage/Hero711-icon.webp",
        "/images/mage/Hero731-icon.webp",
        "/images/mage/Hero751-icon.webp",
        "/images/mage/Hero761-icon.webp",
        "/images/mage/Hero811-icon.webp",
        "/images/mage/Hero861-icon.webp",
        "/images/mage/Hero911-icon.webp",
        "/images/mage/Hero961-icon.webp",
        "/images/mage/Hero1101-icon.webp",
        "/images/mage/Hero1011-icon.webp",
        "/images/mage/Hero1151-icon.webp",
        "/images/mage/Hero1161-icon.webp",
        "/images/mage/Hero1191-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="mage">
              <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="asasinList23">
      <div class="list">
        <%= f.label :image_url23%><br>
        <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
          
        <% posts.each do |post| %>
      <label>
            <label class="asasin">
              <%= f.radio_button(:image_url23, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="asasin">
              <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="hanterList23">
      <div class="list">
        <%= f.label :image_url23%><br>
        <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
          
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
           <%= f.radio_button(:image_url23, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
              <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    


    <div id="supportList23">
      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
          
        <% posts.each do |post| %>
      <label>
            <label class="support">
              <%= f.radio_button(:image_url23, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url23 %><br>
        <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="support">
              <%= f.radio_button(:image_url23, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
</div>


<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<div class="bb">





      <p class="pppp">不利1 (disadvantageous,1)</p>
      <td>
        <div class="select1">
    <div>
        <input class="form-check-input" type="radio" name="maker3" value="1" id="tank_3" onclick="formSwitch3()" />
        <label for="tank_3">タンク</label>
        <input class="form-check-input" type="radio" name="maker3" value="2" id="fight_3" onclick="formSwitch3()" />
        <label for="fight_3">ファイター</label>
        <input class="form-check-input" type="radio" name="maker3" value="3" id="mage_3" onclick="formSwitch3()" />
        <label for="mage_3">メイジ</label></div>
        <div>
        <input class="form-check-input" type="radio" name="maker3" value="4" id="asasin_3" onclick="formSwitch3()" />
        <label for="asasin_3">アサシン</label>
        <input class="form-check-input" type="radio" name="maker3" value="5" id="hanter_3" onclick="formSwitch3()" />
        <label for="hanter_3">ハンター</label>
        <input class="form-check-input" type="radio" name="maker3" value="6" id="support_3" onclick="formSwitch3()" />
        <label for="support_3">サポート</label></div>
      </div>
      </td>
      
      <td colspan="6">
        <div id="tankList3">
          <div class="list">
          <%= f.label :image_url3%><br>
      <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
      <%posts = [
          "/images/Tank/Hero041-icon.webp",
          "/images/Tank/Hero061-icon.webp",
          "/images/Tank/Hero091-icon.webp",
          "/images/Tank/Hero101-icon.webp",
          "/images/Tank/Hero191-icon.webp",
          "/images/Tank/Hero201-icon.webp",
          "/images/Tank/Hero291-icon.webp",
          "/images/Tank/Hero321-icon.webp",
          "/images/Tank/Hero351-icon.webp",
          "/images/Tank/Hero411-icon.webp",
          "/images/Tank/Hero4441-icon.webp",
          "/images/Tank/Hero491-icon.webp"
        ];
      %>
      
           <% posts.each do |post| %>
           <label>
             <label class="tank">
               <%= f.radio_button(:image_url3, post , {style: "display:none;"}) %>
               <%= image_tag post, size: "50x50" %>
             </label>
             <br>
            </label>
           <% end %>
      </div>
            <div class="list"><br>
            <%= f.label :image_url3%>
        <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
        <%posts = [ "/images/Tank/Hero591-icon.webp",
        "/images/Tank/Hero701-icon.webp",
        "/images/Tank/Hero781-icon.webp",
        "/images/Tank/Hero811-icon.webp",
        "/images/Tank/Hero871-icon.webp",
        "/images/Tank/Hero881-icon.webp",
        "/images/Tank/Hero931-icon.webp",
        "/images/Tank/Hero991-icon.webp",
        "/images/Tank/Hero1041-icon.webp",
        "/images/Tank/Hero1111-icon.webp",
        "/images/Tank/Hero1171-icon.webp"
            
          ];
        %>
         
        
              <% posts.each do |post| %>
            <label>
              <label class="tank">
              <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
              </label>
       
            <br>
          </label>
            <% end %>
        </div>
      </div>
      
      
          <div id="fightList3">
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts = ["/images/fighter/Hero021-icon-2.webp", 
              "/images/fighter/Hero071-icon.webp",
               "/images/fighter/Hero111-icon.webp", 
               "/images/fighter/Hero161-icon.webp", 
               "/images/fighter/Hero221-icon.webp", 
               "/images/fighter/Hero261-icon.webp", 
               "/images/fighter/Hero271-icon.webp", 
               "/images/fighter/Hero281-icon.webp", 
               "/images/fighter/Hero291-icon.webp", 
               "/images/fighter/Hero351-icon.webp", 
               "/images/fighter/Hero371-icon.webp", 
               "/images/fighter/Hero391-icon.webp", 
               "/images/fighter/Hero411-icon.webp", 
               "/images/fighter/Hero451-icon.webp", 
               "/images/fighter/Hero541-icon.webp", 
               "/images/fighter/Hero581-icon.webp", 
               "/images/fighter/Hero621-icon.webp",
                "/images/fighter/Hero641-icon.webp", 
                "/images/fighter/Hero671-icon.webp",] %>
              <% posts.each do |post| %>
              <label>
                  <label class="fight">
                    <%= f.radio_button(:image_url3, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
             
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts = [
              "/images/fighter/Hero721-icon.webp",
               "/images/fighter/Hero741-icon.webp",
             "/images/fighter/Hero771-icon.webp",
            "/images/fighter/Hero801-icon.webp", 
            "/images/fighter/Hero821-icon.webp", 
            "/images/fighter/Hero831-icon.webp", 
            "/images/fighter/Hero851-icon.webp", 

            "/images/fighter/Hero881-icon.webp", 
            "/images/fighter/Hero901-icon.webp", 
            "/images/fighter/Hero951-icon.webp", 
            "/images/fighter/Hero981-icon.webp", 
            "/images/fighter/Hero991-icon.webp", 
            "/images/fighter/Hero1031-icon.webp", 
            "/images/fighter/Hero1061-icon.webp", 
            "/images/fighter/Hero1081-icon.webp", 
            "/images/fighter/Hero1131-icon.webp", 
            "/images/fighter/Hero1161-icon.webp", 
            "/images/fighter/Hero1171-icon.webp",
            "/images/fighter/Hero1201-icon.webp",
             ] %>
              <% posts.each do |post| %>
      
                <label>
                  <label class="fight">
                    <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
      
      
      
      
          <div id="mageList3">
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts =["/images/mage/Hero041-icon.webp",
              "/images/mage/Hero051-icon-1.webp",
              "/images/mage/Hero111-icon.webp",
              "/images/mage/Hero151-icon.webp",
              "/images/mage/Hero231-icon.webp",
              "/images/mage/Hero251-icon.webp",
              "/images/mage/Hero331-icon.webp",
              "/images/mage/Hero361-icon.webp",
              "/images/mage/Hero381-icon.webp",
              "/images/mage/Hero421-icon.webp",
              "/images/mage/Hero461-icon.webp",
              "/images/mage/Hero501-icon.webp",
              "/images/mage/Hero521-icon.webp",
              "/images/mage/Hero571-icon.webp",
              "/images/mage/Hero611-icon.webp",
              "/images/mage/Hero631-icon.webp"] %>
                
                
              <% posts.each do |post| %>
              <label >
                  <label class="mage">
                    <%= f.radio_button(:image_url3, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts =["/images/mage/Hero041-icon.webp",
              "/images/mage/Hero051-icon-1.webp",
              "/images/mage/Hero111-icon.webp",
              "/images/mage/Hero151-icon.webp",
              "/images/mage/Hero231-icon.webp",
              "/images/mage/Hero251-icon.webp",
              "/images/mage/Hero331-icon.webp",
              "/images/mage/Hero361-icon.webp",
              "/images/mage/Hero381-icon.webp",
              "/images/mage/Hero421-icon.webp",
              "/images/mage/Hero461-icon.webp",
              "/images/mage/Hero501-icon.webp",
              "/images/mage/Hero521-icon.webp",
              "/images/mage/Hero571-icon.webp",
              "/images/mage/Hero611-icon.webp",
              "/images/mage/Hero631-icon.webp"] %>
                
              <% posts.each do |post| %>
                <label>
                  <label class="mage">
                    <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
          <div id="asasinList3">
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
                
              <% posts.each do |post| %>
            <label>
                  <label class="asasin">
                    <%= f.radio_button(:image_url3, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
              <% posts.each do |post| %>
                <label>
                  <label class="asasin">
                    <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
          <div id="hanterList3">
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
                
              <% posts.each do |post| %>
            <label>
              <label class="hanter">
                 <%= f.radio_button(:image_url3, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
      
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
              <% posts.each do |post| %>
            <label>
              <label class="hanter">
                    <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
      
          <div id="supportList3">
            <div class="list">
              <%= f.label :image_url3 %><br>
              <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
                
              <% posts.each do |post| %>
            <label>
                  <label class="support">
                    <%= f.radio_button(:image_url3, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
      
            <div class="list">
              <%= f.label :image_url3%><br>
              <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
              <% posts.each do |post| %>
                <label>
                  <label class="support">
                    <%= f.radio_button(:image_url3, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
      </div>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>
<%# ここまで第一 -----------------------------------------------------------------------------------        %>

<p class="pppp">不利2 任意(optional,disadvantageous,2)</p>
<td>
  <div class="select1">
    <div>
  <input class="form-check-input" type="radio" name="maker33" value="1" id="tank_33" onclick="formSwitch33()" />
  <label for="tank_33">タンク</label>
  <input class="form-check-input" type="radio" name="maker33" value="2" id="fight_33" onclick="formSwitch33()" />
  <label for="fight_33">ファイター</label>
  <input class="form-check-input" type="radio" name="maker33" value="3" id="mage_33" onclick="formSwitch33()" />
  <label for="mage_33">メイジ</label></div>
  <div>
  <input class="form-check-input" type="radio" name="maker33" value="4" id="asasin_33" onclick="formSwitch33()" />
  <label for="asasin_33">アサシン</label>
  <input class="form-check-input" type="radio" name="maker33" value="5" id="hanter_33" onclick="formSwitch33()" />
  <label for="hanter_33">ハンター</label>
  <input class="form-check-input" type="radio" name="maker33" value="6" id="support_33" onclick="formSwitch33()" />
  <label for="support_33">サポート</label></div>
</div>
</td>

<td colspan="6">
  <div id="tankList33">
    <div class="list">
    <%= f.label :image_url33%><br>
<!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
<%posts = [
    "/images/Tank/Hero041-icon.webp",
    "/images/Tank/Hero061-icon.webp",
    "/images/Tank/Hero091-icon.webp",
    "/images/Tank/Hero101-icon.webp",
    "/images/Tank/Hero191-icon.webp",
    "/images/Tank/Hero201-icon.webp",
    "/images/Tank/Hero291-icon.webp",
    "/images/Tank/Hero321-icon.webp",
    "/images/Tank/Hero351-icon.webp",
    "/images/Tank/Hero411-icon.webp",
    "/images/Tank/Hero4441-icon.webp",
    "/images/Tank/Hero491-icon.webp"
  ];
%>

     <% posts.each do |post| %>
     <label>
       <label class="tank">
         <%= f.radio_button(:image_url33, post , {style: "display:none;"}) %>
         <%= image_tag post, size: "50x50" %>
       </label>
       <br>
      </label>
     <% end %>
</div>
      <div class="list"><br>
      <%= f.label :image_url33%>
  <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
  <%posts = [ "/images/Tank/Hero591-icon.webp",
  "/images/Tank/Hero701-icon.webp",
  "/images/Tank/Hero781-icon.webp",
  "/images/Tank/Hero811-icon.webp",
  "/images/Tank/Hero871-icon.webp",
  "/images/Tank/Hero881-icon.webp",
  "/images/Tank/Hero931-icon.webp",
  "/images/Tank/Hero991-icon.webp",
  "/images/Tank/Hero1041-icon.webp",
  "/images/Tank/Hero1111-icon.webp",
  "/images/Tank/Hero1171-icon.webp"
      
    ];
  %>
   
  
        <% posts.each do |post| %>
      <label>
        <label class="tank">
        <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
        <%= image_tag post, size: "50x50" %>
        </label>
 
      <br>
    </label>
      <% end %>
  </div>
</div>


    <div id="fightList33">
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts = ["/images/fighter/Hero021-icon-2.webp", 
        "/images/fighter/Hero071-icon.webp",
         "/images/fighter/Hero111-icon.webp", 
         "/images/fighter/Hero161-icon.webp", 
         "/images/fighter/Hero221-icon.webp", 
         "/images/fighter/Hero261-icon.webp", 
         "/images/fighter/Hero271-icon.webp", 
         "/images/fighter/Hero281-icon.webp", 
         "/images/fighter/Hero291-icon.webp", 
         "/images/fighter/Hero351-icon.webp", 
         "/images/fighter/Hero371-icon.webp", 
         "/images/fighter/Hero391-icon.webp", 
         "/images/fighter/Hero411-icon.webp", 
         "/images/fighter/Hero451-icon.webp", 
         "/images/fighter/Hero541-icon.webp", 
         "/images/fighter/Hero581-icon.webp", 
         "/images/fighter/Hero621-icon.webp",
          "/images/fighter/Hero641-icon.webp", 
          "/images/fighter/Hero671-icon.webp",] %>
        <% posts.each do |post| %>
        <label>
            <label class="fight">
              <%= f.radio_button(:image_url33, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
       
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts = [
           "/images/fighter/Hero721-icon.webp",
            "/images/fighter/Hero741-icon.webp",
          "/images/fighter/Hero771-icon.webp",
         "/images/fighter/Hero801-icon.webp", 
         "/images/fighter/Hero821-icon.webp", 
         "/images/fighter/Hero831-icon.webp", 
         "/images/fighter/Hero851-icon.webp", 

         "/images/fighter/Hero881-icon.webp", 
         "/images/fighter/Hero901-icon.webp", 
         "/images/fighter/Hero951-icon.webp", 
         "/images/fighter/Hero981-icon.webp", 
         "/images/fighter/Hero991-icon.webp", 
         "/images/fighter/Hero1031-icon.webp", 
         "/images/fighter/Hero1061-icon.webp", 
         "/images/fighter/Hero1081-icon.webp", 
         "/images/fighter/Hero1131-icon.webp", 
         "/images/fighter/Hero1161-icon.webp", 
         "/images/fighter/Hero1171-icon.webp",
         "/images/fighter/Hero1201-icon.webp",
          ] %>
        <% posts.each do |post| %>

          <label>
            <label class="fight">
              <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    





    <div id="mageList33">
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts =["/images/mage/Hero041-icon.webp","/images/mage/Hero051-icon-1.webp","/images/mage/Hero111-icon.webp","/images/mage/Hero151-icon.webp","/images/mage/Hero231-icon.webp","/images/mage/Hero331-icon.webp","/images/mage/Hero361-icon.webp","/images/mage/Hero421-icon.webp","/images/mage/Hero461-icon.webp","/images/mage/Hero501-icon.webp","/images/mage/Hero521-icon.webp","/images/mage/Hero571-icon.webp","/images/mage/Hero611-icon.webp","/images/mage/Hero631-icon.webp"] %>
          
        <% posts.each do |post| %>
        <label >
            <label class="mage">
              <%= f.radio_button(:image_url33, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts = ["/images/mage/Hero661-icon.webp","/images/mage/Hero681-icon.webp","/images/mage/Hero711-icon.webp","/images/mage/Hero731-icon.webp","/images/mage/Hero751-icon.webp","/images/mage/Hero761-icon.webp","/images/mage/Hero811-icon.webp","/images/mage/Hero861-icon.webp","/images/mage/Hero911-icon.webp","/images/mage/Hero961-icon.webp","/images/mage/Hero1011-icon.webp","/images/mage/Hero1151-icon.webp","/images/mage/Hero1161-icon.webp","/images/mage/Hero1191-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="mage">
              <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="asasinList33">
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
          
        <% posts.each do |post| %>
      <label>
            <label class="asasin">
              <%= f.radio_button(:image_url33, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="asasin">
              <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    

    <div id="hanterList33">
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
          
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
           <%= f.radio_button(:image_url33, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    

      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
        <% posts.each do |post| %>
      <label>
        <label class="hanter">
              <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
    </div>
    


    <div id="supportList33">
      <div class="list">
        <%= f.label :image_url33 %><br>
        <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
          
        <% posts.each do |post| %>
      <label>
            <label class="support">
              <%= f.radio_button(:image_url33, post, {style: "display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>


      <div class="list">
        <%= f.label :image_url33%><br>
        <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
        <% posts.each do |post| %>
          <label>
            <label class="support">
              <%= f.radio_button(:image_url33, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
            </label>
            <br>
          </label>
        <% end %>
      </div>
</div>
      <p class="pppp">不利3 任意(optional,disadvantageous,3)</p>
      <td>
        <div class="select1">
          <div>
        <input class="form-check-input" type="radio" name="maker34" value="1" id="tank_34" onclick="formSwitch34()" />
        <label for="tank_34">タンク</label>
        <input class="form-check-input" type="radio" name="maker34" value="2" id="fight_34" onclick="formSwitch34()" />
        <label for="fight_34">ファイター</label>
        <input class="form-check-input" type="radio" name="maker34" value="3" id="mage_34" onclick="formSwitch34()" />
        <label for="mage_34">メイジ</label></div>
        <div>
        <input class="form-check-input" type="radio" name="maker34" value="4" id="asasin_34" onclick="formSwitch34()" />
        <label for="asasin_34">アサシン</label>
        <input class="form-check-input" type="radio" name="maker34" value="5" id="hanter_34" onclick="formSwitch34()" />
        <label for="hanter_34">ハンター</label>
        <input class="form-check-input" type="radio" name="maker34" value="6" id="support_34" onclick="formSwitch34()" />
        <label for="support_34">サポート</label></div>
      </div>
      </td>
      
      <td colspan="6">
        <div id="tankList34">
          <div class="list">
          <%= f.label :image_url34%><br>
      <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
      <%posts = [
          "/images/Tank/Hero041-icon.webp",
          "/images/Tank/Hero061-icon.webp",
          "/images/Tank/Hero091-icon.webp",
          "/images/Tank/Hero101-icon.webp",
          "/images/Tank/Hero191-icon.webp",
          "/images/Tank/Hero201-icon.webp",
          "/images/Tank/Hero291-icon.webp",
          "/images/Tank/Hero321-icon.webp",
          "/images/Tank/Hero351-icon.webp",
          "/images/Tank/Hero411-icon.webp",
          "/images/Tank/Hero4441-icon.webp",
          "/images/Tank/Hero491-icon.webp"
        ];
      %>
      
           <% posts.each do |post| %>
           <label>
             <label class="tank">
               <%= f.radio_button(:image_url34, post , {style: "display:none;"}) %>
               <%= image_tag post, size: "50x50" %>
             </label>
             <br>
            </label>
           <% end %>
      </div>
            <div class="list"><br>
            <%= f.label :image_url34%>
        <!-- The following code creates a variable `posts` and assigns it an array of strings that are file paths for images -->
        <%posts = [ "/images/Tank/Hero591-icon.webp",
        "/images/Tank/Hero701-icon.webp",
        "/images/Tank/Hero781-icon.webp",
        "/images/Tank/Hero811-icon.webp",
        "/images/Tank/Hero871-icon.webp",
        "/images/Tank/Hero881-icon.webp",
        "/images/Tank/Hero931-icon.webp",
        "/images/Tank/Hero991-icon.webp",
        "/images/Tank/Hero1041-icon.webp",
        "/images/Tank/Hero1111-icon.webp",
        "/images/Tank/Hero1171-icon.webp"
            
          ];
        %>
         
        
              <% posts.each do |post| %>
            <label>
              <label class="tank">
              <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
              <%= image_tag post, size: "50x50" %>
              </label>
       
            <br>
          </label>
            <% end %>
        </div>
      </div>
      
      
          <div id="fightList34">
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts = ["/images/fighter/Hero021-icon-2.webp", 
              "/images/fighter/Hero071-icon.webp",
               "/images/fighter/Hero111-icon.webp", 
               "/images/fighter/Hero161-icon.webp", 
               "/images/fighter/Hero221-icon.webp", 
               "/images/fighter/Hero261-icon.webp", 
               "/images/fighter/Hero271-icon.webp", 
               "/images/fighter/Hero281-icon.webp", 
               "/images/fighter/Hero291-icon.webp", 
               "/images/fighter/Hero351-icon.webp", 
               "/images/fighter/Hero371-icon.webp", 
               "/images/fighter/Hero391-icon.webp", 
               "/images/fighter/Hero411-icon.webp", 
               "/images/fighter/Hero451-icon.webp", 
               "/images/fighter/Hero541-icon.webp", 
               "/images/fighter/Hero581-icon.webp", 
               "/images/fighter/Hero621-icon.webp",
                "/images/fighter/Hero641-icon.webp", 
                "/images/fighter/Hero671-icon.webp",] %>
              <% posts.each do |post| %>
              <label>
                  <label class="fight">
                    <%= f.radio_button(:image_url34, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
             
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts = [
              "/images/fighter/Hero721-icon.webp",
               "/images/fighter/Hero741-icon.webp",
             "/images/fighter/Hero771-icon.webp",
            "/images/fighter/Hero801-icon.webp", 
            "/images/fighter/Hero821-icon.webp", 
            "/images/fighter/Hero831-icon.webp", 
            "/images/fighter/Hero851-icon.webp", 

            "/images/fighter/Hero881-icon.webp", 
            "/images/fighter/Hero901-icon.webp", 
            "/images/fighter/Hero951-icon.webp", 
            "/images/fighter/Hero981-icon.webp", 
            "/images/fighter/Hero991-icon.webp", 
            "/images/fighter/Hero1031-icon.webp", 
            "/images/fighter/Hero1061-icon.webp", 
            "/images/fighter/Hero1081-icon.webp", 
            "/images/fighter/Hero1131-icon.webp", 
            "/images/fighter/Hero1161-icon.webp", 
            "/images/fighter/Hero1171-icon.webp",
            "/images/fighter/Hero1201-icon.webp",
             ] %>
              <% posts.each do |post| %>
      
                <label>
                  <label class="fight">
                    <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
      
      
      
      
          <div id="mageList34">
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts =["/images/mage/Hero041-icon.webp",
        "/images/mage/Hero051-icon-1.webp",
        "/images/mage/Hero111-icon.webp",
        "/images/mage/Hero151-icon.webp",
        "/images/mage/Hero231-icon.webp",
        "/images/mage/Hero251-icon.webp",
        "/images/mage/Hero331-icon.webp",
        "/images/mage/Hero361-icon.webp",
        "/images/mage/Hero381-icon.webp",
        "/images/mage/Hero421-icon.webp",
        "/images/mage/Hero461-icon.webp",
        "/images/mage/Hero501-icon.webp",
        "/images/mage/Hero521-icon.webp",
        "/images/mage/Hero571-icon.webp",
        "/images/mage/Hero611-icon.webp",
        "/images/mage/Hero631-icon.webp"] %>
          
                
              <% posts.each do |post| %>
              <label >
                  <label class="mage">
                    <%= f.radio_button(:image_url34, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts = ["/images/mage/Hero661-icon.webp","/images/mage/Hero681-icon.webp","/images/mage/Hero711-icon.webp","/images/mage/Hero731-icon.webp","/images/mage/Hero751-icon.webp","/images/mage/Hero761-icon.webp","/images/mage/Hero811-icon.webp","/images/mage/Hero861-icon.webp","/images/mage/Hero911-icon.webp","/images/mage/Hero961-icon.webp","/images/mage/Hero1011-icon.webp","/images/mage/Hero1151-icon.webp","/images/mage/Hero1161-icon.webp","/images/mage/Hero1191-icon.webp"] %>
              <% posts.each do |post| %>
                <label>
                  <label class="mage">
                    <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
          <div id="asasinList34">
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts =["/images/asasin/Hero031-icon.webp","/images/asasin/Hero071-icon.webp","/images/asasin/Hero081-icon.webp","/images/asasin/Hero161-icon.webp","/images/asasin/Hero171-icon-1.webp","/images/asasin/Hero211-icon.webp","/images/asasin/Hero241-icon.webp","/images/asasin/Hero301-icon.webp","/images/asasin/Hero421-icon.webp","/images/asasin/Hero471-icon.webp","/images/asasin/Hero511-icon.webp"] %>
                
              <% posts.each do |post| %>
            <label>
                  <label class="asasin">
                    <%= f.radio_button(:image_url34, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts = ["/images/asasin/Hero531-icon.webp","/images/asasin/Hero561-icon.webp","/images/asasin/Hero631-icon.webp","/images/asasin/Hero691-icon.webp","/images/asasin/Hero751-icon.webp","/images/asasin/Hero841-icon.webp","/images/asasin/Hero971-icon.webp","/images/asasin/Hero1021-icon.webp","/images/asasin/Hero1091-icon.webp","/images/asasin/Hero1181-icon.webp","/images/asasin/Hero1201-icon.webp"] %>
              <% posts.each do |post| %>
                <label>
                  <label class="asasin">
                    <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
          <div id="hanterList34">
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts =["/images/hanter/Hero011-icon.webp","/images/hanter/Hero121-icon.webp","/images/hanter/Hero131-icon.webp","/images/hanter/Hero181-icon.webp","/images/hanter/Hero301-icon.webp","/images/hanter/Hero311-icon.webp","/images/hanter/Hero391-icon.webp","/images/hanter/Hero401-icon.webp","/images/hanter/Hero431-icon.webp","/images/hanter/Hero531-icon.webp"]%>
                
              <% posts.each do |post| %>
            <label>
              <label class="hanter">
                 <%= f.radio_button(:image_url34, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
      
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts = ["/images/hanter/Hero601-icon.webp","/images/hanter/Hero651-icon.webp","/images/hanter/Hero711-icon.webp","/images/hanter/Hero791-icon.webp","/images/hanter/Hero891-icon.webp","/images/hanter/Hero941-icon.webp","/images/hanter/Hero1001-icon.webp","/images/hanter/Hero1051-icon.webp","/images/hanter/Hero1071-icon.webp","/images/hanter/Hero1111-icon.webp","/images/hanter/Hero1141-icon.webp"] %>
              <% posts.each do |post| %>
            <label>
              <label class="hanter">
                    <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          </div>
          
      
      
          <div id="supportList34">
            <div class="list">
              <%= f.label :image_url34 %><br>
              <% posts =["/images/support/Hero051-icon.webp","/images/support/Hero061-icon.webp","/images/support/Hero091-icon.webp","/images/support/Hero101-icon.webp","/images/support/Hero141-icon.webp","/images/support/Hero191-icon.webp","/images/support/Hero201-icon.webp","/images/support/Hero341-icon-2.webp"]%>
                
              <% posts.each do |post| %>
            <label>
                  <label class="support">
                    <%= f.radio_button(:image_url34, post, {style: "display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
          
      
            <div class="list">
              <%= f.label :image_url34%><br>
              <% posts = ["/images/support/Hero481-icon.webp","/images/support/Hero551-icon.webp","/images/support/Hero621-icon.webp","/images/support/Hero743-icon.webp","/images/mage/Hero761-icon.webp","/images/support/Hero921-icon.webp","/images/support/Hero931-icon.webp","/images/support/Hero1021-icon.webp","/images/support/Hero1121-icon.webp"] %>
              <% posts.each do |post| %>
                <label>
                  <label class="support">
                    <%= f.radio_button(:image_url34, post, {style:"display:none;"}) %>
                    <%= image_tag post, size: "50x50" %>
                  </label>
                  <br>
                </label>
              <% end %>
            </div>
      </div>


      <p class="pppp">内容(100文字まで)任意(optional,content)</p>
<div class="content_post">
  <%= f.text_area :content, class:"content" %>
</div>

<div class="actions">
  <%= f.submit 'Save', class: 'scary-button' %>
</div>

  
  </main>
<% end %>


<%= javascript_include_tag "posts.js" %>
<%= javascript_include_tag "posts2.js" %>

<link rel="stylesheet" href="/assets/stylesheets/new.css">



<style>
 body {
     background-image: url(/images/grond/YuZhongSkins.webp);
     background-size: cover;
 }
 .content_post{
  display: flex;
    justify-content: center;
    height: 50px;
}
.content{
  
   width: 65%;
}
.actions{
  display: flex;
    justify-content: center;
    padding: 20px;
}

.scary-button {
  background-color: rgb(128, 0, 255);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.scary-button:hover {
  transform: scale(1.1);
}

.scary-button:active {
  transform: scale(0.9);
}

.scary-button:focus {
  outline: none;
}

.scary-button:active:after {
  content: "";
  background-image: url('https://i.imgur.com/RL7VU1M.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  left: -100px;
  top: -30px;
  animation: scary-emoji 1s linear 1;
}

@keyframes scary-emoji {
  0%   { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(-45deg) scale(1.2); }
  50%  { transform: rotate(0deg) scale(1); }
  75%  { transform: rotate(45deg) scale(1.2); }
  100% { transform: rotate(0deg) scale(1); }
}
p {
    animation-name: p;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes p {
    from {background-color: rgb(90, 0, 147);}
    to {background-color: rgb(62, 0, 80);}
}
@media (max-width: 576px) {
  input[type=radio] + label:before {
    width: 35px;
    height: 45px;
  }
}

   </style>
 

 


   


