<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <%= link_to "ホーム", root_path, class: "active item" %>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">お知らせ</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
    <%= link_to "Signup", signup_path, class: "item" %>
  </div>
  
  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <%= link_to "ホーム", root_path, class: "active item" %>
          <% if logged_in? %>
            <%= link_to "利用者一覧", users_path, class: "item" %>
            <%= link_to "プロフィール", current_user, class: "item" %>
            <% end %>

          <div class="right item">
          <% if logged_in? %>
              <%= link_to "Log out", logout_path, class: "ui inverted button", data: { turbo_method: :delete, turbo_confirm: " 本当にログアウトしますか？"} %>
            <% else %>
              <%= link_to "Log in", login_path, class: "ui inverted button" %>
              <%= link_to "Sign up", signup_path, class: "ui inverted button" %>
            <% end %>
           
          </div>
        </div>
      </div>
    </div>